<h1><%= @idea.title %></h1>
<p>Description: <%= @idea.description %></p>
<p><%= @idea.created_at %></p>
<p>Created by: <%= @idea.user&.full_name || 'DELETED'  %>

<div><%= @idea.likes.count %></div>
<% like = @idea.likes.find_by(user: current_user) %>
<% if like.present? %>
  <%= link_to "Un-like", idea_like_path(@idea, like), method: :delete%>
<% else %>
  <%= link_to "Like", idea_likes_path(@idea), method: :post%>
<% end %>
<br />
<br />
<% if can? :crud, @idea %>
<%= link_to "Edit Idea", edit_idea_path(@idea) %> |
<%= link_to "Delete Idea", idea_path(@idea), method: :delete, data: { confirm: 'Are you sure that you want to delete this idea?' } %>
<% end %>


<br />


<h2>Review</h2>

<%= form_with(model: [@idea, @review], local: true) do |f| %>
  <% if @review.errors.any? %>
    <ul>
      <% @review.errors.full_messages.each do |msg|%>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>
  
   <div class="form-group">
    <%= f.text_area(
    :body,
    cols: 50,
    rows: 5,
    placeholder: "What are your thoughts?",
    class: "form-control"
    ) %>
  </div>
  <%= f.submit "Review" %>
  <% end %>
  
   <hr />
  
   <ul class="review-list">
    <% @reviews.each do |review| %>
      <li>
        <p>
          <%= review.body %> <br />
          <% if can? :crud, review %>
          <small>
            <%= link_to "Delete",
              idea_review_path(@idea, review),
              method: :delete,
              data: {
                confirm: "Are you sure?"
              }
            %>
          </small>
          |
          <% end %>
          <small>
            Reviewed <%= time_ago_in_words(review.created_at) %> ago
          </small>
        </p>
      </li>
    <% end %>
  </ul>