<!DOCTYPE html>
<html>
  <head>
    <title>IdeaFactory</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>
  <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand-blue" href="/">
        Idea Factory
      </a>
        <div class="space">
        <%= link_to 'Home', "/" %>
        <%= link_to 'New Post', '/ideas/new' %>
        </div>
  <% if user_signed_in? %>
  Hello <%= current_user.full_name %>,
  <%= link_to "Logout", sessions_path, method: :delete,
            data: {confirm: "are you sure you want to log out?"}%>
<% else %>
  <%= link_to "Login", new_sessions_path %> |
  <%= link_to "Sign Up", new_user_path %>
<% end %>

</nav>


</header>  

  <%= flash[:notice] || flash[:alert] %>

    <%= yield %>
  </body>
</html>
